<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>myproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.event.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventAddServlet</servlet-name>
    <servlet-class>com.event.servlet.EventAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventAddServlet</servlet-name>
    <url-pattern>/EventAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventListServlet</servlet-name>
    <servlet-class>com.event.servlet.EventListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventListServlet</servlet-name>
    <url-pattern>/listEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.event.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventDeleteServlet</servlet-name>
    <servlet-class>com.event.servlet.EventDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDeleteServlet</servlet-name>
    <url-pattern>/deleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventSerchServlet</servlet-name>
    <servlet-class>com.event.servlet.EventSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventSerchServlet</servlet-name>
    <url-pattern>/searchEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>com.member.servlet.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/listMember</url-pattern>
  </servlet-mapping>
</web-app>