<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>myproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EventAddServlet</servlet-name>
    <servlet-class>com.event.servlet.EventAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventAddServlet</servlet-name>
    <url-pattern>/EventAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventListServlet</servlet-name>
    <servlet-class>com.event.servlet.EventListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventListServlet</servlet-name>
    <url-pattern>/listEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.event.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventDeleteServlet</servlet-name>
    <servlet-class>com.event.servlet.EventDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDeleteServlet</servlet-name>
    <url-pattern>/deleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventSearchServlet</servlet-name>
    <servlet-class>com.event.servlet.EventSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventSearchServlet</servlet-name>
    <url-pattern>/searchEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>com.member.servlet.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/listMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeAddServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddServlet</servlet-name>
    <url-pattern>/addChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeListServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeListServlet</servlet-name>
    <url-pattern>/listChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeSearchServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSearchServlet</servlet-name>
    <url-pattern>/searchChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeBgdbhServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeBgdbhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBgdbhServlet</servlet-name>
    <url-pattern>/changeBgdbh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDetailServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDetailServlet</servlet-name>
    <url-pattern>/detailChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDeleteServlet</servlet-name>
    <servlet-class>com.change.servlet.ChangeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDeleteServlet</servlet-name>
    <url-pattern>/deleteChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventSjdbh</servlet-name>
    <servlet-class>com.event.servlet.EventSjdbhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventSjdbh</servlet-name>
    <url-pattern>/eventSjdbh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUsername</servlet-name>
    <servlet-class>com.login.GetUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsername</servlet-name>
    <url-pattern>/getUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexData</servlet-name>
    <servlet-class>com.tools.IndexData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexData</servlet-name>
    <url-pattern>/indexData</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>shiroEnvironmentClass</param-name>
    <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value>
  </context-param>
  <context-param>
    <param-name>shiroConfigLocations</param-name>
    <param-value>classpath:shiro.ini</param-value>
  </context-param>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.filter.FirstFilter</filter-class>
</filter>
 
<filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>